{% extends 'base.html' %}
{% block ul %}
                <ul class="navbar-nav mr-auto " dir="rtl">
              <li class="nav-item active " style="
    padding-bottom: 10px;
    height: 72px;
"><a style="
padding-bottom: 5px;" class="nav-link" href="/"> الرئيسيه </a></li>
              <li class="nav-item active coco-title" style="
    padding-bottom: 10px;
    height: 72px;
"><a class="nav-link"  style="
padding-bottom: 5px;"  href="/blog"> مقالات </a></li>
              <li class="nav-item active" style="
    padding-bottom: 10px;
    height: 72px;
"><a class="nav-link"  style="
padding-bottom: 5px;"  href="/about"> من نحن </a></li>
              <li class="nav-item active" style="
    padding-bottom: 10px;
    height: 72px;
"><a class="nav-link" style="
padding-bottom: 5px;"  href="/contact-us"> تواصل معنا </a></li>


            </ul>

              {% endblock ul %}
{% block content %}
<div class="innerHeading">
  <div class="container">
    <h1>مقالات</h1>
  </div>
</div>
    <div class="innercontent">
  <div class="container">
    <ul class="row blog_post">
        {% for post in posts %}
      <li class="col-lg-4 col-md-6">
        <div class="services_box wow fadeInUp" style="min-height :0;visibility: visible; animation-name: fadeInUp;">
          <div class="servicesImg"><a href="{% url 'post' post.slug %}"><img alt="" style="width: 325px;height: 182px;" src="{{ post.img.url }}"></a></div>
          <h3 align="center"><a href="{% url 'post' post.slug %}">
            {{ post.title }}
 </a></h3>
          <div class="post-meta"> <span>{{ post.date }}</span>  </div>

        </div>
      </li>
        {% endfor %}



    </ul>
 {% include 'pagination.html' with page=posts %}

  </div>
</div>
{% endblock content %}

