{% extends 'base.html' %}
{% block content %}
    <div class="innerHeading">
  <div class="container">
    <h1> تواصل معنا</h1>
  </div>
</div>
         {% if messages %}
{% for message in messages %}
<div style="text-align: center;" class="alert alert-success ">
    {{message}}
</div>
{% endfor %}
{% endif %}
    <div class="innercontent wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
  <div class="container">
    <div style="text-align: center" class="getTouch">ابق على تواصل</div>
    <div class="row formcol">
      <div class="col-lg-8">
        <form class="form mb-md50" id="contact-form" method="POST"  novalidate="">
                    {% csrf_token %}

          <div class="messages"></div>
          <div class="controls">
<div class="row">

            <div class="col-lg-12">
                <div class="form-group has-error has-danger">
                  <input id="form_name" placeholder="الاسم" class="form-control" type="text" name="name" maxlength="10000" required="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input id="form_email" placeholder="البريد الالكتروني" class="form-control" type="email" name="email" maxlength="254" required="" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input id="form_phone" placeholder=" رقم الهاتف" class="form-control" type="tel" name="phone" required="" >
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <textarea placeholder="الرساله" id="form_message" class="form-control"  name="content" cols="40" rows="10" required=""  spellcheck="false"></textarea>
                </div>
              </div>
              <div class="col-lg-12 contact-wrap">
                <div class="contact-btn">
                  <button type="submit" class="sub">ارسال <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021674.414950062!2d41.11423519392498!3d42.30298232333148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440cd7e64f626b%3A0x4f907964122d4ac2!2sGeorgia!5e0!3m2!1sen!2s!4v1545313690667" width="100%" height="330" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

