{% extends 'base.html' %}


{% block content %}

<div class="">
<section style=" background-image: url({{img4}}); !important;" class="appointment-area pt-120 pb-120 bg_img" data-overlay="6">
            <div class="container">
                <div class="title title_center">
      <h1>الشركه الأفضل لتوفير العماله المنزليه</h1>
                          <h1> نعمل من اجلك</h1>

    </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="appointment-form">
                            <div role="form" class="wpcf7">
<div class="screen-reader-response" role="alert" aria-live="polite"></div>
<form>
<div class="row mt-none-30">


</div>
</form>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- About Start -->
<div class="about-wrap" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="aboutImg"><img src="{{ site.img3.url }}" alt=""></div>
      </div>
      <div class="col-lg-6">
        <div class="about_box">
          <div class="title">
            <h1 dir="rtl">أفضل خدمات العمالة المنزلية</h1>
          </div>
          <div class="subText"></div>
          <p>{{ site.content }}</p>
          <ul style="    font-family: 'Tajawal', sans-serif;" class="bullet_icons">
            <li style="font-family: 'Tajawal', sans-serif;">رعاية مسنين</li>
            <li style="font-family: 'Tajawal', sans-serif;">رعاية اطفال</li>
            <li style="font-family: 'Tajawal', sans-serif;">نظافة البيت</li>
            <li style="font-family: 'Tajawal', sans-serif;"> مساعدين للمنزل</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->



<!--Services Start-->

<!--Services End-->




<!--How it Work Start-->
<div class="work-wrap wow fadeInUp" style="background-image: url({{img5}}); !important;visibility: visible; animation-name: fadeInUp;">
  <div class="container">
    <div class="title title_center">
      <h1 class="">لماذا نحن</h1>
    </div>
    <ul class="fix text-center row ">
                                                                <!--Start Single working  Box-->

                                <!--End Single working  Box-->
                                                                <!--Start Single working  Box-->
                                <li class="single-working-steps-box wow fadeInUp  col" style="visibility: visible; animation-name: fadeInUp;">

                                  <div class="icon-holder"><img src="http://malikhassan.com/html/ecoclean/images/step02.png" style="
    padding-top: 30px;
"></div>
                                    <div class="text-holder">
                                <h4><a href="#">الأمانه</a></h4>
                                        <p>{{ site.why2 }}</p>
                                    </div>
                                </li>
                                <!--End Single working  Box-->
                                                                <!--Start Single working  Box-->
                                <li class="single-working-steps-box wow fadeInUp  col" style="visibility: visible; animation-name: fadeInUp;">


<div class="icon-holder"><img src="http://malikhassan.com/html/ecoclean/images/step03.png" style="
    padding-top: 30px;
"></div>
                                    <div class="text-holder">
                                <h4><a href="#">الكفاءه</a></h4>
                                        <p>{{ site.why3 }}</p>
                                    </div>


                                </li>
                                <!--End Single working  Box-->
                                                                <!--Start Single working  Box-->
                                <li class="single-working-steps-box wow fadeInUp  col" style="visibility: visible; animation-name: fadeInUp;">



<div class="icon-holder"><img src="http://malikhassan.com/html/ecoclean/images/step04.png" style="
    padding-top: 30px;
"></div>
                                    <div class="text-holder">
                                <h4><a href="#">الخبره</a></h4>
                                        <p>{{ site.why1 }}</p>
                                    </div>


                                </li>
                                <!--End Single working Box-->
                                                            </ul>
  </div>
</div>


<!-- Blog Start -->
<div class="blog-wrap">
</div>
<!-- Blog End -->


<!-- Appointment Start -->
<section class="appointment-area pt-120 pb-120 bg_img" style=" background-image: url({{img6}}); !important;" data-overlay="6">
            <div class="container">
                <div class="title title_center">
      <h1>احصل على حاجتك من العمالة الان</h1>
    </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="appointment-form">
                            <div role="form" class="wpcf7">
<div class="screen-reader-response" role="alert" aria-live="polite"></div>
<form>
<div class="row mt-none-30">













<div class="col-lg-12 col-md-12">
  <div class="form-group appoint_btn">
<a href="/contact-us"><button  type="button" class="submit-btn">تواصل معنا</button></a>

  </div>

  </div>

</div>
</form>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- Appointment End -->

{% endblock content %}

